.brands {
}

.brands__container {
	padding-top: 100px;
	padding-bottom: 100px;

	background-image: linear-gradient(
			to top,
			rgba(rgb(26, 26, 26), 0.5) 0%,
			rgba(rgb(26, 26, 26), 0.5)
		),
		url(../images/fr2.jpg);
	background-size: cover;
	background-position: top center;
}

.brands__title {
	text-align: center;
}

.brands__desc {
	font-family: "Open Sans", sans-serif;
	letter-spacing: -0.02em;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
	color: $white-color;
	text-align: center;

	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.brands__info {
	margin-top: 60px;
}

.brands-tabs {
	@extend %list-reset;

	display: grid;
	justify-items: center;
	position: relative;
	row-gap: 40px;
}

.brands-tabs__item {
	display: flex;
	align-items: center;
	width: 265px;
	border: 2px solid $white-color;
	transition: width 0.5s;

	&:hover {
		width: max-content;

		border: none;
	}
}

.brands-tabs__heading {
	display: grid;
	align-items: center;
	justify-content: center;

	min-height: 455px;
	min-width: 265px;
	max-width: 265px;
}

.brands-tabs__title {
	font-family: "Oswald", sans-serif;
	font-weight: 200;
	color: $white-color;
	font-size: 56px;
	text-align: center;
	margin: 0;
}

.brand-content__desc {
	color: #fff;
	text-align: center;
	font-size: 20px;

	opacity: 0;
	display: none;
	transition: opacity 0.3s 0.5s;
}

.brand-content__sublist {
	position: absolute;
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 0.3s, transform 0.3s;
}

.brands-tabs__item:hover .brands-tabs__heading {
	background-color: $dark-color;
}

.brands-tabs__item:hover .brands-tabs__title {
	border-color: $dark-color;
	color: $light-color;
}

// .brands-tabs__item:hover .brand-content__desc {
// 	opacity: 1;
// 	display: block;
// }

.brands-tabs__item:hover .brand-content__sublist {
	opacity: 1;
	position: static;
	transform: translateX(0);
}

.brand-cats__item {
	@extend %list-reset;
	color: #fff;
	padding: 25px 40px;
	border: 1px solid #fff;
	width: max-content;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 25px;
	background-color: $light-color;
}
