.write-us {
	// background-image: linear-gradient(
	//       to right,
	//       transparent 0%,
	//       rgba(#fff, 0.85) 70%
	//    ),
	//    url(../images/write-us-bgd.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	& form {
		width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-family: "Open Sans", sans-serif;
	}
}

.write-us__title {
	letter-spacing: normal;
	font-family: georgia, palatino, "book antiqua", "palatino linotype", serif;
}

.write-us__form {
	max-width: 60%;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.write-us__form-submit {
	margin-top: 40px;
}
