.page-header {
	padding: 20px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: transparent;
	transition: background-color 0.2s;

	&--fixed {
		background-color: $dark-color;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.page__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;
}

.logo {
	font-family: "Playfair Display", serif;
	font-size: 20px;
	color: $light-color;
	position: relative;
	min-height: 58px;
	padding-left: 100px;
	display: flex;
	align-items: center;

	@include mq(992) {
		font-size: 16px;
		padding-left: 80px;
		min-height: 43px;
	}

	@include mq(480) {
		padding-left: 60px;
	}
}

.page__logo-img {
	margin-right: 20px;
	position: absolute;
	left: 0;
	top: 0;

	@include mq(992) {
		width: 70px;
		height: auto;
	}
	@include mq(480) {
		top: 6px;
		width: 50px;
	}
}

.menu-toggle {
	// width: 40px;
	// height: 40px;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;

	display: none;

	@include mq(768) {
		display: flex;
		position: relative;
		z-index: 3;
	}
}

.menu-toggle__icon {
	transform: rotate(-45deg);

	&--active {
		transform: rotate(0);

		& .path {
			transform-origin: center;
			transition: transform 0.3s;

			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: rotate(45deg) translateY(-170px);
			}
			&:nth-child(4) {
				transform: rotate(-45deg) translateY(170px);
			}
		}
	}
}

.menu {
	@extend %list-reset;

	display: flex;

	@include mq(768) {
		display: none;

		&--active {
			position: fixed;
			top: 0;
			right: 0;
			width: 50vw;
			height: 100dvh;
			z-index: 2;
			// background-color: $light-color;
			display: flex;
			flex-direction: column;
			padding: 100px 30px 30px;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background-image: linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.5),
						rgba(0, 0, 0, 0.5)
					),
					url(../images/mobile-menu-bgd.jpg);
				background-size: cover;
				opacity: 0.4;
			}

			&::after {
				content: "";
				position: fixed;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: -1;
			}
		}
	}
}

.menu__item {
	display: flex;
	align-items: center;

	&:not(:first-child) {
		margin-left: 30px;

		@include mq(768) {
			margin-left: 0;
		}
	}

	@include mq(768) {
		position: relative;
		z-index: 22;
		justify-content: center;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.menu__link {
	font-family: "Open Sans", sans-serif;
	padding: 4px 6px;
	font-size: 18px;
	line-height: 22px;
	color: $light-color;
	transition: color 0.5s;

	&:hover {
		color: #fff;
	}

	@include mq(992) {
		font-size: 20px;
	}
	@include mq(768) {
		color: #fff;
	}
}
