.page-header {
	padding: 20px 60px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: transparent;
	transition: background-color 0.2s;
	background-color: $dark-color;

	&--fixed {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	@include mq(880) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@include mq(576) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.page__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;
}

.logo {
	font-family: "Playfair Display", serif;
	font-size: 20px;
	color: $light-color;
	position: relative;
	min-height: 58px;
	padding-left: 100px;
	display: flex;
	align-items: center;

	@include mq(992) {
		font-size: 16px;
		padding-left: 80px;
		min-height: 43px;
	}

	@include mq(480) {
		padding-left: 60px;
	}
}

.page__logo-img {
	margin-right: 20px;
	position: absolute;
	left: 0;
	top: 0;

	@include mq(992) {
		width: 70px;
		height: auto;
	}
	@include mq(480) {
		top: 6px;
		width: 50px;
	}
}

.menu-toggle {
	order: 1;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;

	display: none;

	@include mq(880) {
		display: flex;
		position: relative;
		z-index: 3;
	}
}

.menu-toggle__icon {
	transform: rotate(-45deg);

	&--active {
		transform: rotate(0);

		& .path {
			transform-origin: center;
			transition: transform 0.3s;

			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: rotate(45deg) translateY(-170px);
			}
			&:nth-child(4) {
				transform: rotate(-45deg) translateY(170px);
			}
		}
	}
}

.menu-wrapper {
	@include mq(880) {
		position: fixed;
		top: 0;
		right: 0;

		z-index: -3;
		padding-left: 100%;
		width: 0;
		height: 0;
		background-color: rgba(0, 0, 0, 0);
		transition: background-color 0.6s;

		&--active {
			width: 100vw;
			height: 100dvh;
			z-index: 2;
			padding-left: 50%;
			background-color: rgba(0, 0, 0, 0.6);

			& .menu-wrapper-content {
				transform: translateX(0);
			}
		}
	}
}

.menu-wrapper-content {
	display: flex;
	align-items: center;

	@include mq(880) {
		flex-direction: column;
		width: 50%;
		height: 100%;
		transform: translateX(100%);
		transition: transform 0.6s;
		position: absolute;
		right: 0;
		top: 0;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.8),
					rgba(0, 0, 0, 0.8)
				),
				url(../images/mobile-menu-bgd.jpg);
			background-size: cover;
			opacity: 0.7;
		}
	}
	@include mq(576) {
		width: 70%;
	}
}

.menu {
	@extend %list-reset;
	margin-left: auto;
	display: flex;

	@include mq(880) {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		padding: 100px 30px 30px;
	}

	& li {
		display: flex;
		align-items: center;

		&:not(:first-child) {
			margin-left: 30px;

			@include mq(880) {
				margin-left: 0;
			}
		}

		@include mq(880) {
			position: relative;
			z-index: 22;
			justify-content: center;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	& a {
		font-family: "Open Sans", sans-serif;
		padding: 4px 6px;
		font-size: 18px;
		line-height: 22px;
		color: $light-color;
		transition: color 0.5s;

		&:hover {
			color: #fff;
		}

		@include mq(992) {
			font-size: 20px;
		}
		@include mq(880) {
			color: #fff;
		}
	}
}
